<div cdkDropListGroup style="text-align: center;">

  <div class="example-container">
    <h2 matBadge={{tailleC}} matBadgePosition="before" matBadgeSize="large" matBadgeColor="accent">A classifier</h2>

    <div
      cdkDropList id="classifie"
      [cdkDropListData]="classifie"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="justify-content: center;font-weight:800;" *ngFor="let item of classifie" cdkDrag>{{item}}</div>
    </div>
    <button mat-button color="info" (click)="ajouter()">Ajouter</button>
  </div>

  <div class="example-container">
    <h2 matBadge={{tailleS}} matBadgePosition="before" matBadgeSize="large" matBadgeColor="accent">A supprimer</h2>

    <div
      cdkDropList id="supprime"
      [cdkDropListData]="supprime"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="justify-content: center;font-weight:800;" *ngFor="let item of supprime" cdkDrag>{{item}}</div>
    </div>
    <button mat-button color="warn" (click)="supprimer()">Supprimer</button>
  </div>
  <br/>
  <div class="example-container">
    <h2 matBadge={{tailleL}} matBadgePosition="before" matBadgeSize="large" matBadgeColor="accent">{{"Lun" | Dipipe}}</h2>

    <div
      cdkDropList id="lundi"
      [cdkDropListData]="lundi"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="justify-content: center;font-weight:800;" *ngFor="let item of lundi" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 matBadge={{tailleM}} matBadgePosition="before" matBadgeSize="large" matBadgeColor="accent">{{"Mar" | Dipipe}}</h2>

    <div
      cdkDropList id="mardi"
      [cdkDropListData]="mardi"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="justify-content: center;font-weight:800;" *ngFor="let item of mardi" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 matBadge={{tailleMe}} matBadgePosition="before" matBadgeSize="large" matBadgeColor="accent">{{"Mercre" | Dipipe}}</h2>

    <div
      cdkDropList id="mercredi"
      [cdkDropListData]="mercredi"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="justify-content: center;font-weight:800;" *ngFor="let item of mercredi" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 matBadge={{tailleJ}} matBadgePosition="before" matBadgeSize="large" matBadgeColor="accent">{{"Jeu" | Dipipe}}</h2>

    <div
      cdkDropList id="jeudi"
      [cdkDropListData]="jeudi"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="justify-content: center;font-weight:800;" *ngFor="let item of jeudi" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 matBadge={{tailleV}} matBadgePosition="before" matBadgeSize="large" matBadgeColor="accent">{{"Vendre" | Dipipe}}</h2>

    <div
      cdkDropList id="vendredi"
      [cdkDropListData]="vendredi"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="justify-content: center;font-weight:800;" *ngFor="let item of vendredi" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 matBadge={{tailleSa}} matBadgePosition="before" matBadgeSize="large" matBadgeColor="accent">{{"Same" | Dipipe}}</h2>

    <div
      cdkDropList id="samedi"
      [cdkDropListData]="samedi"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="justify-content: center;font-weight:800;" *ngFor="let item of samedi" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 matBadge={{tailleD}} matBadgePosition="before" matBadgeSize="large" matBadgeColor="accent">{{" " | Dipipe}}manche</h2>

    <div
      cdkDropList id="dimanche"
      [cdkDropListData]="dimanche"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="justify-content: center;font-weight:800;" *ngFor="let item of dimanche" cdkDrag>{{item}}</div>
    </div>
  </div>


</div>


